<xmp>
  <!-- ITK boxlist -->
  <div class="itk-boxlist">
    <article class="itk-boxlist--item">
      <header>
        <h2 class="itk-boxlist--header">Vind to billetter Lars Frost, Niels Frank og Kamilla Löfström</h2>
        <p class="itk-boxlist--type">Forelæsning</p>
        <div class="itk-boxlist--metadata">
          <span class="itk-boxlist--date">14. maj 2015</span>
          <span class="itk-boxlist--time">10:00 - 12:00</span>
          <span class="itk-boxlist--location">Multisalen</span>
        </div>
      </header>
      <figure><img src="http://placehold.it/200x200"></figure>
    </article>
  </div>

  <!-- ITK boxlist side by side -->
  <div class="itk-boxlist is-side-by-side">
    <article class="itk-boxlist--item">
      <header>
        <h2 class="itk-boxlist--header">Vind to billetter Lars Frost, Niels Frank og Kamilla Löfström</h2>
        <p class="itk-boxlist--type">Forelæsning</p>
        <div class="itk-boxlist--metadata">
          <span class="itk-boxlist--date">14. maj 2015</span>
          <span class="itk-boxlist--time">10:00 - 12:00</span>
          <span class="itk-boxlist--location">Multisalen</span>
        </div>
      </header>
      <figure><img src="http://placehold.it/200x200"></figure>
    </article>
    <article class="itk-boxlist--item">
      <header>
        <h2 class="itk-boxlist--header">Vind to billetter Lars Frost, Niels Frank og Kamilla Löfström</h2>
        <p class="itk-boxlist--type">Forelæsning</p>
        <div class="itk-boxlist--metadata">
          <span class="itk-boxlist--date">14. maj 2015</span>
          <span class="itk-boxlist--time">10:00 - 12:00</span>
          <span class="itk-boxlist--location">Multisalen</span>
        </div>
      </header>
      <figure><img src="http://placehold.it/200x200"></figure>
    </article>
  </div>
</xmp>