/**
 *
 * Itk menu example file
 *
 * An example of using itk menu component.
 *
 */
/**
 *
 * Variables
 *
 */
/* Layout
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Typograhy
   ================================================================================================================== */
/* Link colors
   ================================================================================================================== */
/* Spacing
   ================================================================================================================== */
/**
 *
 * Itk tabs
 *
 * A component for displaying an expanding side menu.
 *
 */
/* Imports, placeholder classes, mixins and variables related to this document.
   ========================================================================== */
/* Variables used within this document. */
/* Menu positioning */
/* Animations related to this document.
   ========================================================================== */
@-moz-keyframes toggle-nav-open {
  0% {
    right: -20em; }
  100% {
    right: 0; } }
@-webkit-keyframes toggle-nav-open {
  0% {
    right: -20em; }
  100% {
    right: 0; } }
@keyframes toggle-nav-open {
  0% {
    right: -20em; }
  100% {
    right: 0; } }
@-moz-keyframes toggle-nav-close {
  0% {
    right: 0; }
  100% {
    right: -20em; } }
@-webkit-keyframes toggle-nav-close {
  0% {
    right: 0; }
  100% {
    right: -20em; } }
@keyframes toggle-nav-close {
  0% {
    right: 0; }
  100% {
    right: -20em; } }
@-moz-keyframes toggle-nav-overlay {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.65); } }
@-webkit-keyframes toggle-nav-overlay {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.65); } }
@keyframes toggle-nav-overlay {
  0% {
    background-color: transparent; }
  100% {
    background-color: rgba(0, 0, 0, 0.65); } }
/* Styles
   ========================================================================== */
.example--menu {
  color: #fff;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  right: -20em;
  z-index: 99;
  max-width: 90%;
  width: 20em;
  background: #000;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.25);
  /* States */ }
  .is-visible.example--menu {
    -moz-animation: toggle-nav-open 0.75s ease 1 forwards;
    -webkit-animation: toggle-nav-open 0.75s ease 1 forwards;
    animation: toggle-nav-open 0.75s ease 1 forwards; }
  .is-hidden.example--menu {
    -moz-animation: toggle-nav-close 0.75s ease 1 forwards;
    -webkit-animation: toggle-nav-close 0.75s ease 1 forwards;
    animation: toggle-nav-close 0.75s ease 1 forwards; }

/* Invisible close element that allows the user to close the menu by clicking outside it */
.example--nav-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  cursor: pointer; }
  .is-visible.example--nav-overlay {
    width: 100%;
    -moz-animation: toggle-nav-overlay 0.75s linear 1 forwards;
    -webkit-animation: toggle-nav-overlay 0.75s linear 1 forwards;
    animation: toggle-nav-overlay 0.75s linear 1 forwards; }

/* Make sure the user can't scroll when overlays are active */
html.is-locked,
html.is-locked body {
  overflow: hidden;
  height: 100%; }
