<!DOCTYPE html>
<!--
ITK menu component.
Interacts with html and body tag.
-->
<html>
  <head>
    <title>Itk menu example</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="example.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="example.js"></script>
  </head>
  <body style="height: 2000em; margin: 0;">
    <div class="example--menu js-example-menu">
      <a style="color: white;" class="example--click-me js-example-click-me">Click me</a>
      <div style="height: 130em;"></div>
    </div>
    <a class="example--nav-overlay js-example-overlay js-example-click-me"></a>
    <h1 style="margin-top: 0;">Itk menu example</h1>
    <a class="example--click-me js-example-click-me">Click me</a>
  </body>
</html>
