/**
 *
 * Variables
 *
 */



/* Layout
   ================================================================================================================== */

$border-radius:    .6em !default;
$border-width:      1px !default;
$inline-block-fix:     -4px;


/* Colors
   ================================================================================================================== */

$black:            #000 !default;
$white:            #fff !default;

$gray-lightest:       lighten($black, 98%);
$gray-lighter:        lighten($black, 90%);
$gray-light:          lighten($black, 80%);
$gray:                lighten($black, 70%);
$gray-dark:           lighten($black, 45%);
$gray-darker:         lighten($black, 35%);
$gray-darkest:        lighten($black, 25%);



/* Typograhy
   ================================================================================================================== */

$font-family:      "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font:             1em/1.5 $font-family !default;



/* Link colors
   ================================================================================================================== */

$link-color:       blue !default;



/* Spacing
   ================================================================================================================== */

$margin-bottom:    1.5em !default;
$padding-bottom:   1.5em !default;
