/**
 *
 * ITK box list
 *
 * A component for content boxes
 *
 */


/* Variables
   ========================================================================== */

$boxlist-font-color:                    $gray-darkest;
$boxlist-border-color:                  $gray-lighter;
$boxlist-padding:                       1em;



/* Basic styling
   ========================================================================== */

.itk-boxlist {
  margin-bottom: 1em;

  &--group {
    margin-bottom: 4em;
  }

  &--group-header {
    @extend %header-line-through-wrapper;
  }

  &--group-header-text {
    @extend %header-line-through-text;
  }

  &--group-header-line-through {
    @extend %header-line-through;
  }

  &--item {
    @include flexbox;
    @include flex-flow(row nowrap);

    border-bottom: 1px solid $boxlist-border-color;
    margin-bottom: 1em;
    padding-top: $boxlist-padding;
    padding-bottom: $boxlist-padding;

    header {
      @include order(2);
      @include flex-grow(1);
      @include flex-shrink(1);
    }

    // Hide figure as default
    figure {
      margin-right: 1em;
      min-width: 5em;

      @include flex-basis(5em);
      @include flex-grow(0);
      @include order(1);
    }

    @include breakpoint($breakpoint-tablet) {
      border: 1px solid $boxlist-border-color;
      padding-top: 0;
      padding-bottom: 0;

      header {
        padding: $boxlist-padding $boxlist-padding 0 $boxlist-padding;

        @include flex-grow(1);
        @include flex-shrink(1);
        @include order(2);
      }

      figure {
        min-width: 200px;
        display: block;

        @include flex-basis(200px);
        @include flex-grow(0);
        @include order(1);
      }
    }
  }

  &--item:last-child {
    border-bottom: none;

    @include breakpoint($breakpoint-tablet) {
      border: 1px solid $boxlist-border-color;
    }
  }



  &--header {
    margin-top: 0;
    margin-bottom: .5em;

    font-size: 125%;

    a {
      @include strip-link-styles();
    }
  }

  &--link {
    @include strip-link-styles();
  }

  &--type,
  &--date,
  &--time,
  &--location {
    color: transparentize($boxlist-font-color, .5);
  }

  &--type {
    margin-bottom: .75em;
  }

  &--date,
  &--time,
  &--location {
    display: block;
    padding: .5em 1em .5em 0;
    width: 100%;
    min-width: 9em;

    @media only screen and (min-width: $breakpoint-lap) {
      display: inline-block;
      width: 45%;
    }

    @media only screen and (min-width: $breakpoint-tablet) {
      padding: 0.5em 0;
      width: 32%;
    }

    // Center the icon.
    svg {
      height: 1.2em;
      width: 1.2em;
      padding-right: 0.2em;
      vertical-align: text-top;
    }
  }

  // Responsive location field.
  &--location {
    width: 100%;

    @media only screen and (min-width: $breakpoint-tablet) {
      width: 33%;
    }
  }

  &--read-more {
    @include strip-link-styles($blue-light, 'underline')
  }
}


/* Variants
   ========================================================================== */

// Show 2 columns side by side
.itk-boxlist.is-side-by-side {

  .itk-boxlist--date,
  .itk-boxlist--time,
  .itk-boxlist--location {
    @media only screen and (min-width: $breakpoint-lap) {
      width: 45%;
    }
  }

  // Stack until there is enough space to display them side by side
  @media only screen and (min-width: $breakpoint-desk) {
    @include flexbox;
    @include flex-flow(row nowrap);
    @include justify-content(space-between);

    .itk-boxlist--item {
      margin-bottom: 0;
      width: 49%;

      &:last-child {
        margin-right: 0;
      }
    }

  }
}