{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}

{% set alternator = 0 %}

{% for row in rows %}

  {% if alternator == 0 %}
    <div class="itk-boxlist is-side-by-side">
  {% endif %}

  {{ row.content }}

  {% if alternator == 1 %}
    </div>
  {% endif %}

  {% if alternator == 0 %}
    {% set alternator = 1 %}
  {% else %}
    {% set alternator = 0 %}
  {% endif %}

{% endfor %}

{% if alternator == 1 %}
</div>
{% endif %}
