/**
 *
 * IE 9 styles
 *
 */

 body {
   padding-bottom: 9em;
 }

.nav,
.nav.is-sticky {
  &--links {
    display: block;
  }

  &--link {
    display: inline-block;
  }
}


.itk-boxlist,
.itk-boxlist-gallery {
  &--item {
    float: left;
    padding: 1em;
    width: 100%;

    header,
    figure {
      float: left;
    }

    header {
      width: 75%;
    }

    figure {
      width: 20%;
    }
  }

  &--icon {
    img {
      max-width: 1em;
      padding-bottom: .25em;
    }
  }
}

.button,
.button:link,
.button:visited {
  display: inline-block;

  &.is-block {
    display: inline-block;
  }
}
