/**
 *
 * Patterns
 *
 */


%image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: z($z-index-elements, header-overlay);
  content: "";

  background-repeat: no-repeat;

  $bg-size: 375%;

  background-size: $bg-size;

  @include breakpoint($breakpoint-tablet) {
    background-size: $bg-size * .8;
  }

  @include breakpoint($breakpoint-desk) {
    background-size: $bg-size * .6;
  }

  @include breakpoint($breakpoint-bigscreen) {
    background-size: $bg-size * .4;
  }
}
