<h1>ITK components</h1>

<h2>Configuration</h2>

<ol>
<li>Fetch the boilerplate repository.</li>
<li>Copy the desired components sass file into your sass components directory.</li>
<li>Import the components: _[component_name].scss in your styles.scss file.</li>
<li>Follow the example files to use the styles.</li>
</ol>


<h2>Components</h2>

<ol>
<li>ITK tabs</li>
<li>ITK menu</li>
<li>ITK messages</li>
</ol>


<h2>ITK tabs</h2>

<h4>Description:</h4>

<p>Provides styles for displaying tabs with rounded corners.</p>

<h4>State classes:</h4>

<p><strong>Tabs wrapper</strong>: is-full-width (Requires a tabs count attribute. -  The static number of tabs inside wrapper)</p>

<p><strong>Tabs</strong> : is-active</p>

<h2>ITK menu</h2>

<h4>Description:</h4>

<p>Requires IE 10 (Uses CSS animations.)</p>

<p>Provides styles for an animated side menu. An example javascript (jquery) file is provided which adds and removes the state classes used.</p>

<h4>State classes:</h4>

<p><strong>HTML and body tags</strong>: is-locked (Locking the content in place - disables scrolling)</p>

<p><strong>Menu</strong>: is-visible, is-hidden</p>

<p><strong>Overlay link</strong> : is-visible</p>

<h2>ITK messages</h2>

<h4>Description:</h4>

<p>Provides styles for messages.</p>

<h4>State classes:</h4>

<p><strong>Message style</strong>: is-info, is-warning, is-error</p>
