/**
 *
 * Administration
 *
 *
 */


/* Styles
================================================================================================================== */
.administration {

  // Page tabs used on entity pages (/user, /node)
  &--tabs {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
    margin-right: 1em;
    z-index: 99;

    // Link nesting rather than adding classes to tabs links.
    a {
      background: $blue-dark;
      @include border-top-radius(.5em);

      @include strip-link-styles($white);

      &.active {  // Drupal state class.
        background: $yellow;

        @include strip-link-styles($gray-darkest);
      }

      &:hover {
        background: $yellow;

        @include strip-link-styles($gray-darkest);
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: .5em .5em 0;
      background: $white;

      @include border-top-radius(.5em);
    }

    li:last-child {
      margin-right: 0;
    }
  }
}
