/**
 *
 * Breadcrumb
 *
 *
 */


/* Styles
================================================================================================================== */

.breadcrumb {
  margin-bottom: 1em;
  margin-right: auto;
  margin-left: auto;

  color: $gray-dark;
  
  @include breakpoint($breakpoint-desk) {
    max-width: 50em;
  }

  @include breakpoint($breakpoint-bigscreen) {
    max-width: $layout-max-width;
  }

  &--item {
    border-bottom: 2px solid $gray-dark;
    color: $gray-dark;
    margin-right: .2em;

    // Remove default link styles.
    a {
      @include strip-link-styles($gray-dark);
    }
  }


  // The breadcrumb list child is the page title field.
  & .field-name-title {
    border-bottom: 0;

    @include breakpoint($breakpoint-desk) {
      max-width: 28em;
      display: inline-block;
      vertical-align: top;
    }
  }
}