.cookieterms {
  z-index: 99;
  position: fixed;
  background: white;

  width: 100%;
  bottom: 0;

  // font: $font-family-secondary;

  @include box-shadow(0px -5px 10px transparentize($black, .75));
}

.cookieterms--inner {
  padding: 1em;

  text-align: center;

  @include breakpoint($breakpoint-lap) {
    line-height: 2.2em;
  }
}

.cookieterms--text {
  margin-right: .5em;
}

.cookieterms--button {
  padding: .4em 1.5em;

  background: $blue-light;
  color: #fff;
  cursor: pointer;
  // font: $font-family-primary;
  line-height: 2.5em;
}