/**
 *
 * Menus
 *
 *
 */

/* Silent classes.
================================================================================================================== */

%menus--site-nav-items {
  background: $gray-darkest;
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

%menus--site-nav-item {
  border-bottom: 1px dashed $gray-dark;
  width: 100%;

  color: $gray-lighter;
  font-weight: bold;
  list-style: none;
  text-align: right;

  @include box-sizing(border-box);
}

%menus--expand-icon {
  display: inline-block;
  max-width: .8em;
  margin-left: .5em;
  top: .5em;
  z-index: -1;
}

// Fix drupals state classes to align with our guidelines. (ie. If drupal says expanded we style with is-expanded.)
@mixin menus--drupal-state-class-alter() {
  .menu-item--expanded {
    @extend .is-expanded;
  }
  .menu-item--collapsed {
    @extend .is-collapsed;
  }
}


/* Styles
================================================================================================================== */


/* The main menu. */
.menus--main {

  // Couldn't figure out how to alter the menu items classes while maintaining other attributes().
  &-item {
    display: none;
    margin-left: $inline-margin-correction;
    margin-right: 2.5em;
    padding-top: 0;

    @include breakpoint($breakpoint-bigscreen) {
      display: inline-block;
    }
  }

  a {
    @include strip-link-styles($white);
  }

  /* Breakpoints */

  @include breakpoint($breakpoint-lap) {
    display: block;
  }

  &-item-english {
    display: inline-block;
    margin-right: 1.25em;

    @extend .menus--main-item;

    @include strip-link-styles($white);

    @include breakpoint($breakpoint-desk) {
      margin-right: 0;
    }
  }

  &-english {
    @include strip-link-styles($white);
  }
}


/* The site nav menu (Burger, mmm!). */

.menus--burger {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -30em;
  z-index: 99;
  overflow: hidden;

  max-width: 20em;
  width: 30.25em;

  background: $black;

  @include opacity(.85);

  &.is-visible {
    @include animation(toggle-nav-open .75s ease 1 forwards);
  }

  &.is-hidden {
    @include animation(toggle-nav-close .75s ease 1 forwards);
  }

  // Logged in users have admin toolbar at top.
  &.is-admin {
    top: 39px;  // With toolbar tray open we change top to 79 px. See drupal specific styles.
  }

  /* Breakpoints */

  @include breakpoint($breakpoint-lap) {
    left: -24em;
    max-width: 28.35em;

    &.is-visible {
      overflow-y: auto;
    }
  }

  @include breakpoint($breakpoint-desk) {
    left: -24em;
    max-width: 100%;

    &.is-sticky {
      position: fixed;
    }
  }
}


/* Overlay related to nav menu. */
.menus--nav-overlay {
  cursor: pointer;
  display: block;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;  // Just below menu.
  
  &.is-hidden {
    display: none;
  }

  &.is-visible {
    @include animation(toggle-nav-overlay .75s linear 1 forwards);
  }
}


// Wrapper used to expand the menu on desktop display.
.menus--toggle-wrapper {
  position: absolute;
  right: 0;

  width: 4.35em;
  height: 4.35em;
  padding-top: 1.5em;

  cursor: pointer;
  text-align: center;

  // Resize the icon
  svg {
    width: 1.5em;
  }

  @include box-sizing(border-box);

  @include breakpoint($breakpoint-desk) {
    width: 6.25em;
    height: 6.25em;
    padding-top: 2em;

    // Resize the icon
    svg {
      width: 2em;
    }
  }
}

// Wrapper for the sidebar menus.
.menus--burger-inner {
  overflow-y: auto;

  height: 100%;
  max-width: 15.65em;
  width: 24em;

  background: $blackish;

  @include breakpoint($breakpoint-lap) {
    max-width: 24em;
  }

  @include breakpoint($breakpoint-desk) {
    max-width: 100%;
  }
}


// The two menus basically follow the same styling.
.menus--practical-nav,
.menus--site-nav {
  // Fix drupals state classes for menus.
  @include menus--drupal-state-class-alter();

  &-header {
    color: $gray-dark;
    margin: 0;
    padding: 1em .5em .5em 0;
    text-align: right;
    border-bottom: 1px dashed $gray-dark;
    font-family: $font-light-family;
  }

  // A wrapper to streamline all items in the menu.
  &-item-link-wrapper {
    display: inline-block;
    margin-right: 1.3em;
    padding: .5em 0 .5em 0;
    position: relative;
    z-index: 1;

    // Center the arrow down icon.
    svg {
      height: 1em;
      width: 1em;
      vertical-align: middle;
    }

    // Default arrow down icon color.
    svg path {
      fill: $white;
    }
  }

  // Remove default link styles.
  a {
    @include strip-link-styles;

    z-index: 1;
    display: inline-block;
  }


  /* The menu nesting levels. */

  &-items-first { // First level nesting
    @extend %menus--site-nav-items;

    // Menu items use the same styling regardless of nesting levels.
    & > .menus--site-nav-item {
      @extend %menus--site-nav-item;

      // Styling for menu items when expanded.
      &.is-expanded {
        // If the icon is active we use the yellow color, for font and icon.
        &.menu-item--active-trail {
          border-right: 4px solid $yellow;
          color: $yellow;

          .menus--site-nav-item-icon {
            fill: $yellow;
          }
        }

        // Show expand icon (Yellow  for active.)
        & > .menus--site-nav-item-link-wrapper > .menus--site-nav-items-first-expand {
          @extend %menus--expand-icon;
        }
      }

      // Show active color even though the item can't expand.
      &.menu-item--active-trail {
        border-right: 4px solid $yellow;
        color: $yellow;

        .menus--site-nav-item-icon {
          fill: $yellow;
        }
      }
    }

    // Simple expand icon when closed.
    & > .is-collapsed {
      .menus--site-nav-items-first-expand {
        @extend %menus--expand-icon;
      }
    }

    // Hide expand icons as default.
    &-expand-active,
    &-expand {
      display: none;
      cursor: pointer;
    }
  }


  &-items-seccond { // Seccond level nesting

    @extend %menus--site-nav-items;

    & > .menus--site-nav-item {
      @extend %menus--site-nav-item;

      // No border of nested items.
      border: 0;
      font-weight: normal;
      padding-right: 0;

      // Show expand icon (Yellow  for active.)
      &.is-expanded {
        color: $yellow;

        // Active color for icon.
        .menus--site-nav-item-icon {
          fill: $yellow;
        }

        & > .menus--site-nav-item-link-wrapper > .menus--site-nav-items-seccond-expand-active {
          @extend %menus--expand-icon;

          margin-left: .75em;
          top: .3em;
        }
      }

      // Show active color even though the item can't expand.
      &.menu-item--active-trail {
        color: $yellow;

        .menus--site-nav-item-icon {
          fill: $yellow;
        }
      }
    }

    // By default subitems are hidden.
    &.js-sub-items-wrapper {
      overflow: hidden;
      max-height: 0;
    }

    & > .collapsed {
      .menus--site-nav-items-seccond-expand {
        @extend %menus--expand-icon;

        margin-left: .75em;
        top: .3em;
      }
    }

    // By default expand icons are hidden.
    &-expand-active,
    &-expand {
      display: none;
    }

    // Alter the icons for sub menu (Slightly smaller).
    .icon-active,
    .icon-inactive {
      height: .4em;
      margin-bottom: 3px;
      width: .5em;
    }
  }


  // At January launch the third nesting level is not used.
  &-items-third { // Third level nesting
    @extend %menus--site-nav-items;

    padding-right: 1.5em;

    & > .menus--site-nav-item {
      @extend %menus--site-nav-item;

      // No border of nested items.
      border: 0;

      // Third nesting has a padding.
      border-right: 3px solid $gray-dark;
      font-weight: normal;
    }
  }
}


// When opening a menu item with submenus.
.is-open .js-sub-items-wrapper {
  max-height: 100%;
}

// Practical nav items should be the same as site nav items.
.menus--practical-nav-item {
  @extend %menus--site-nav-item;
}