/**
 *
 * Opening hours block
 *
 *
 */

.opening-hours-block {
  border-bottom: 1px solid $grey-border;

  padding: 1em;

  background-color: $white;

  &--inner {
    height: 3em; // Some mobile devices needs a height (native Android browser, does not break other browsers afaik)

    @include flexbox;
  }

  figure,
  &--link {
    @include align-self(center);
  }

  figure {
    margin-top: 5px; // Tweak position to align with link
    margin-right: .5em;
    width: 2em;
  }

  @include breakpoint($breakpoint-lap) {
    padding-left: $layout-left-spacing - 1em; // No extra padding and small burger menu.
    max-width: $layout-max-width;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  @include breakpoint($breakpoint-desk) {
    display: none;
  }
}

.opening-hours-link {
  display: none;

  @include breakpoint($breakpoint-desk) {
    position: fixed;
    top: 5em;
    right: 0;
    z-index: 97;

    display: block;
    height: 3em; // iPad needs a height for displaying the link properly
    margin: 0;
    padding: 1em 2em;

    background-color: $white;

    @include flexbox;
    @include align-items(center);

    figure {
      margin-top: 5px; // Tweak position to align with link
      margin-right: .5em;

      @include breakpoint($breakpoint-desk) {
        margin-right: 1em;
        width: 2.5em;
      }
    }

    &--link {
      font-size: 1.25em;

      &:link,
      &:visited {
        font-weight: bold;
        text-decoration: none;
      }
    }

    &.is-hidden {
      @include animation(opening-hours-link-hide 1s ease 1 forwards);
    }

    &.is-visible {
      @include animation(opening-hours-link-show 1s ease 1 forwards);
    }

    @include opacity(0);
    @include animation(opening-hours-link-show 4s ease 1 forwards);
  }
}



