/**
 *
 * Quickedit
 *
 * Styling for quickedit functionality.
 * We use Drupals default classes for styling.
 *
 */


/* Styles
================================================================================================================== */
.layout-content{
  background: red;
}

.quickedit-form {
  max-width: 100%;
  width: 100%;
}