/**
 *
 * Subpage
 *
 * Display of subpage list (Ie. Overview pages. )
 *
 */



/* Placholders related to this document only.
================================================================================================================== */



/* Styles
================================================================================================================== */

/* Subpage list display */
.subpage {
  border-top: 1px solid $gray-lightest;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include breakpoint($breakpoint-desk) {
    border-top: 0;
    margin-left: auto;
    margin-right: auto;

    max-width: $layout-max-width-desk;
  }

  @include breakpoint($breakpoint-bigscreen) {
    max-width: $layout-max-width;
  }

}

