/**
 *
 * UI Datepicker styles.
 *
 * We override the default ui datepicker styles, but maintain original html and classes.
 *
 */


/* Styles
================================================================================================================== */

.ui-datepicker {
  background: none;
  border: 0;
  font-family: $font-light-family;
  font-size: .9em;
  max-width: 22em;
  margin: 0 auto;
  padding: 0;

  @include breakpoint($breakpoint-desk) {
    max-width: 100%;
  }

  // A month.
  .ui-datepicker-group {
    height: 18em;
    float: none;

    border-bottom: 1px solid $gray;
    display: inline-block;
    padding: 1em 1em 1.75em;
    width: 100%;

    @include box-sizing(border-box);

    @include breakpoint($breakpoint-desk) {
      width: 33%;

      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(8) {
        border-left: 1px solid $gray;
        border-right: 1px solid $gray;
        width: 34%;
      }
    }
  }

  .ui-datepicker-group-last {
    border-bottom: 0; 

    @include breakpoint($breakpoint-desk) {
      border-bottom: 1px solid $gray;
    }
  }

  table.ui-datepicker-calendar {
    margin: 0;
    width: 100%;

    color: $gray-darkest;
  }

  // Header of a month.
  .ui-datepicker-header {
    background: none;
    border-width: 0;
    color: $gray-darkest;
  }

  // Title in the month header.
  .ui-datepicker-title {
    margin: 0;
    text-align:right;
  }

  td {
    position: relative;
    width: 2.1em;
  }

  // A single date.
  .ui-state-default {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: $gray-darkest;
    padding: .2em .4em;
    text-align: center;
  }

  .ui-state-active {
    background-color: $yellow;
    color: $gray-darkest;
    width: 2em;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;

    @include border-radius(1em);
  }
}