/**
 *
 * ITK box list
 *
 * A component for content boxes
 *
 */


/* Styles
   ========================================================================== */

// Gallery display ( Frontpage promoted)
.itk-boxlist-gallery {
  display: flex;
  flex-flow: row wrap;


  &--item {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 100%;
    flex-flow: column nowrap; /* Build as column to position elements vertically */
    justify-content: flex-start;
    margin-bottom: $layout-padding;
    padding-bottom: 3em;  /* Make room for footer link absolute positioning. */
    padding-left: $layout-padding; /* Have each element define it's side padding */
    padding-right: $layout-padding;
    position: relative;
    text-align: center;

    @include breakpoint($breakpoint-tablet) {
      flex: 0 0 50%;
    }

    @include breakpoint($breakpoint-desk) {
      flex: 0 0 33%;
    }
  }

  // Allow header to expand
  &--header {
    flex: 0 0 auto;
    order: 2;
    width: 100%;
  }

  // Class name created from image style.
  .related-page-image {
    align-self: center;
    display: block;
    flex: 0 0 auto;
    margin-bottom: 1em;
    margin-top: 1.25em;
    max-width: 5em;
    order: 1;
    width: 100%;
  }

  // Allow content to expand.
  &--content {
    flex: 1 0 auto;
    margin-bottom: 1em;
    order: 3;
    width: 100%;
  }

  // Absolutely positioned from bottom.
  &--link {
    @include strip-link-styles($link-color);

    background-color: transparent;
    border: 1px solid $link-color;
    border-radius: 5em;
    bottom: 0;
    font-weight: 300;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    order: 4;
    padding: .5em 1em;
    position: absolute;
    right: 0;
    text-align: center;
    transition: background-color .5s, border .5s, color .5s;
    width: 200px;

    &:hover {
      background-color: $link-color;
      border: 1px solid $link-color;
      color: $white;
    }
  }
}



// Boxlist display (Frontpage news/Content node references)
.itk-boxlist {
  display: flex;
  flex-flow: row wrap;
  margin: $layout-padding;  // We have the boxlist set the side margins

  &--item {
    border-top: 1px solid $gray-lighter;
    display: flex;
    flex: 0 0 100%;
    flex-flow: row nowrap;
    margin-bottom: $layout-padding;
    padding-top: $layout-padding;

    @include breakpoint($breakpoint-desk) {
      border: 1px solid $gray-lighter;
      padding-top: 0;
    }
  }

  // Class name created from image style.
  .related-page-image,
  .news-teaser-image {
    flex: 0 0 72px;
    height: 72px; /* Static height to ensure a quadratic container */
    padding-right: $layout-padding / 2; /* Share padding with content in case of no image. */

    @include breakpoint($breakpoint-tablet) {
      flex: 0 0 150px;
      height: 150px;
    }

    @include breakpoint($breakpoint-desk) {
      flex: 0 0 224px;
      height: 224px;
      padding-top: 0;
    }
  }

  &--content {
    box-sizing: border-box;
    flex: 1 1 auto;
    padding-left: $layout-padding / 2; /* Share padding with image in case of no image. */

    // add additional borders on desktop display.
    @include breakpoint($breakpoint-desk) {
      padding-bottom: $layout-padding;
      padding-right: $layout-padding;
      padding-top: $layout-padding;
    }
  }

  &--meta {
    color: $gray-light;
    margin-bottom: .75em;
  }

  &--link {
    display: inline-block; /* Best way to break inherited flex. */
    margin-top: .75em;
  }

  .button {
    width: 200px; /* Same as other butttons/links on frontpage */
  }
}




/*
.itk-boxlist {
  margin-left: $layout-padding;
  margin-right: $layout-padding;
  margin-top: 3em;

  @include breakpoint($breakpoint-bigscreen) {
    margin-left: 0;
    margin-right: 0;
  }

  &--item {
    display: flex;
    flex-flow: row nowrap;
  }

  &--item + &--item {
    border-top: 1px solid $gray-lighter;
    margin-top: 2em;
    padding-top: 2em;
  }

  &--wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-desk;
  }

  &--header {
    font-weight: 600;
    margin-bottom: 0;

    a {
      @include strip-link-styles($gray-darker);
    }
  }

  &--header + p,
  &--meta + p {
    margin-top: .75em;
  }

  header {
    flex-basis: auto;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
    padding-top: 0;

    @include breakpoint(600px) {
      padding-left: $layout-padding;
      padding-right: $layout-padding;
    }

    p + a {
      display: inline-block;
      margin-top: .75em;
    }
  }

  figure {
    flex-shrink: 1;
    margin-right: 1em;
    max-width: 6em;
    order: 1;

    @include breakpoint($breakpoint-desk) {
      max-width: 15em;
    }
  }

  &--meta {
    color: $gray-light;
  }

  &--link,
  &--link:link,
  &--link:visited {
    background-color: transparent;
    border: 1px solid $link-color;
    border-radius: 5em;
    box-sizing: border-box;
    color: $link-color;
    display: block;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    min-width: 75%;
    order: 4;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    transition: background-color .5s, border .5s, color .5s;

    &:hover {
      background-color: $link-color;
      border: 1px solid $link-color;
      color: $white;
    }

    @include breakpoint($breakpoint-desk) {
      max-width: 100%;
    }
  }
}

*/
/*
.itk-boxlist-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: $layout-padding;
  margin-right: $layout-padding;
  margin-top: 3em;

  @include breakpoint($breakpoint-tablet) {
    margin-bottom: 4em;
  }

  @include breakpoint($breakpoint-bigscreen) {
    margin-left: 0;
    margin-right: 0;
  }

  &--item {
    display: flex;
    flex-basis: 40%;
    flex-flow: column;
    margin-bottom: 4em;
    margin-left: $layout-padding;
    margin-right: 1em;

    @include breakpoint($breakpoint-tablet) {
      flex-basis: 45%;
    }

    @include breakpoint($breakpoint-lap) {
      padding-bottom: 0;
      padding-top: 0;
    }

    @include breakpoint($breakpoint-desk) {
      flex-basis: 30%;
    }

    header {
      font-size: .75em;
      order: 2;
      text-align: center;

      @include breakpoint($breakpoint-lap) {
        text-align: center;
      }

      h2 {
        @include breakpoint($breakpoint-lap) {
          font-weight: 300;
          margin-bottom: 0;
        }
      }

      a {
        @include strip-link-styles($theme-color);
      }
    }

    figure {
      display: block;
      margin-bottom: 1em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.25em;
      max-width: 5em;
      order: 1;

      @include breakpoint($breakpoint-lap) {
        max-width: 6em;
      }
    }

    p {
      margin-bottom: 1.25em;
      margin-top: .75em;
      min-height: 3em;
      order: 3;
      text-align: center;
    }
  }

  &--link,
  &--link:link,
  &--link:visited {
    background-color: transparent;
    border: 1px solid $link-color;
    border-radius: 5em;
    box-sizing: border-box;
    color: $link-color;
    display: block;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    min-width: 75%;
    order: 4;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    transition: background-color .5s, border .5s, color .5s;

    &:hover {
      background-color: $link-color;
      border: 1px solid $link-color;
      color: $white;
    }

    @include breakpoint($breakpoint-desk) {
      max-width: 100%;
    }
  }
}

*/