<nav class="footer--contacts" role="navigation" aria-labelledby="block-footer-contact">
  <div class="footer--contacts-inner">
    <h2 class="footer--header-contact">{{ "Contact" | t }}</h2>
    <ul class="footer--contact-list">
      <li class="footer--contact-item has-icon">
        <span class="time-icon">{% include '@itkore/svgs/envelope-icon.svg' %}</span><a class="footer--contact-item-email" href="mailto:info@itkore1.dk" data-drupal-link-system-path="<front>">info@itkore1.dk</a>
      </li>
      <li class="footer--contact-item">
        {% include '@itkore/svgs/phone-icon.svg' %}<a class="footer--contact-item-phone" href="tel:+4589409200" data-drupal-link-system-path="<front>">+45 89 40 92 00</a>
      </li>

    </ul>
    <div class="footer--list-end-contact"></div>
  </div>
</nav>