/**
 *
 * Base
 *
 * Contains styling and reset of basic elements
 *
 */


// Make sure the user cant scroll sideways.
body, html {
  overflow-x: hidden;
}

html {
  height: 100%;
}

// http: //galengidman.com/2014/03/25/responsive-flexible-height-sticky-footers-in-css/
body {
  position: relative;

  display: table;
  height: 100%;
  margin: 0;
  width: 100%;

  background-color: $white;

  color: $gray-darkest;
  font: $font;
}

html,
body {
  &.is-locked {
    position: fixed;
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;

  font-weight: normal;

  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;

  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}


strong {
  font-weight: bold;
}


em {
  font-style: italic;

  strong {
    font-weight: bold;
  }
}

fieldset {
  border-color: $gray-lighter;
  border-radius: .85em;
}

fieldset + fieldset {
  margin-top: 3em;
}

legend {
  padding-right: .5em;
  padding-left: .5em;

  color: $gray-dark;
  font-size: 1.25em;
  font-weight: 600;
}


/* Links
   ================================================================================================================== */

a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }

  &:visited {
    color: darken($link-color, 5%);
  }

  &:hover {
    color: darken($link-color, 10%);
    text-decoration: underline;
  }

  &:focus {
    color: darken($link-color, 10%);
  }
}


/* Paragraph
   ================================================================================================================== */

p {
  margin-top: 0;
  margin-bottom: 0;
}


/* Image
   ================================================================================================================== */

img {
  display: inline;
  height: auto;
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
}
