/**
 *
 * Global mixins used across multiple modules.
 *
 */


/* Strip all link styles default color of links to inherit
================================================================================================================== */

@mixin strip-link-styles($color:inherit, $decoration: none) {
  &:link {
    color: $color;
    text-decoration: $decoration;
  }

  &:visited {
    color: $color;
    text-decoration: $decoration;
  }

  &:hover {
    color: $color;
    text-decoration: $decoration;
  }

  &:focus {
    color: $color;
    text-decoration: $decoration;
  }
}


/* Breakpoint
================================================================================================================== */

@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}


/* Word wrap and ellipsis
 *
 * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
================================================================================================================== */

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
