/**
 *
 * Variables
 *
 */


/* Breakpoints
   ================================================================================================================== */

$breakpoint-lap:              481px;
$breakpoint-tablet:           720px;
$breakpoint-desk:             1024px;
$breakpoint-bigscreen:        1500px;


/* Z-index (inspired by https://www.smashingmagazine.com/2014/06/sassy-z-index-management-for-complex-layouts/)
   ================================================================================================================== */

$z-index-elements: header-overlay, header, content, nav, logo, overlay, hamburger-menu, nav-toggle;


/* Layout
   ================================================================================================================== */

$layout-padding:  25px;

