/**
 *
 * Breakpoints
 *
 * Should contain breakpoint variables and breakpoints related mixins
 *
 */



/* Breakpoints
   *
   * These are only examples, change/add/remove so they match your needs
   *
   ================================================================================================================== */

$breakpoint-1:               18.75em;
$breakpoint-2:               22.5em;
$breakpoint-3:               28em;


/* Mixins
   *
   * Use this mixin to change styling for your rulesets depending on a breakpoint (width)
   *
   * Usage example: @include breakpoint($breakpoint-x)
   *
   ================================================================================================================== */

@mixin breakpoint($breakpoint) {
  @media only screen and (min-width: $breakpoint) { @content; }
}
