/**
 *
 * Theme variables
 *
 * This is an example file
 *
 */



/* Colors
   ================================================================================================================== */

$gray-lightest:    lighten($black, 90%);
$gray-lighter:     lighten($black, 80%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 30%);



/* Typograhy
   ================================================================================================================== */

$font:             1em/1.5 Arial, sans-serif;



/* Link colors
   ================================================================================================================== */

$link-color:       lightblue;
