/**
 *
 * Layouts
 *
 *
 */


// Handle layout animations

$animation-speed: .25s;

@include breakpoint($breakpoint-desk) {
  .layout--header {
    &.is-sticky {
      height: $layout-header-height-sticky;

      .layout--header-logo {
        img {
          height: 1.5em;
        }
      }
    }
  }
}


.layout--header {
  position: relative;
  right: 0;
  left: 0;
  z-index: 29;

  height: $layout-header-height;

  @include transition(height $animation-speed);

  @include breakpoint($breakpoint-desk) {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    height: 6.25em;

    &.is-node {
      // Logged in users have toolbar at top.
      &.is-admin {
        top: 39px;   // With toolbar tray open we change top to 79 px. See drupal specific styles.
      }
    }
  }

  &-opacity {
    background: $blue-dark;
    height: 100%;

    @include opacity(.85);
  }

  &-inner {
    margin: 0 auto;
    text-align: center;

    /* Breakpoints */

    @include breakpoint($breakpoint-desk) {
      position: relative;
      width: 100%;
      max-width: 62.5em;
    }

  }

  &-outer {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    padding-left: 0;

    @include transform(translateY(-50%));

    /* Breakpoints */
    @include breakpoint($breakpoint-desk) {
      padding-left: $left-spacing;
    }
  }

  &-mobile-nav-toggle-wrapper {
    position: relative;
    z-index: 1;

    margin-top: .45em;
    margin-left: 1.25em;
    width: 1.5em;

    text-align: left;

    &.js-menus-burger {
      @include breakpoint($breakpoint-lap) {
        display: none;
      }
    }
  }

  &-mobile-nav-toggle {
    color: $gray-dark;
    cursor: pointer;
  }

  &-logo {
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: auto;

    img {
      width: auto;
      height: 1.5em;

      @include transition(height $animation-speed);
    }

    @include transform(translateY(-50%));

    @include breakpoint($breakpoint-desk) {
      margin: 0;
      width: auto;
      left: 1em;

      img {
        width: auto;
        height: 1.75em;
      }
    }
  }

  &-main-menu {
    right: 0;
    position: absolute;
    top: 50%;

    @include transform(translateY(-50%));

    @include breakpoint($breakpoint-desk) {
      right: 1em;
    }
  }
}

// One small beta region. (Right sidebar on broad devices)
.layout--content {
  display: block;
  padding-bottom: 4em;
}