/**
 *
 * Animations
 *
 */


/* Styles
================================================================================================================== */

// Navigation animations.

@include keyframes(toggle-nav-open) {
  0% {
    left: -24em;
    opacity: 0.85;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@include keyframes(toggle-nav-close) {
   0% {
     left: 0;
     opacity: 1;
   }

   100% {
     left: -24em;
     opacity: 0.85;
   }
 }

@include keyframes(toggle-nav-overlay) {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: transparentize($black, .35);
  }
}


// Opening hours link show/hide.

@include keyframes(opening-hours-link-show) {
  0% {
    @include opacity(0);
  }

  50% {
    right: -50em;

    @include opacity(0);
  }

  100% {
    right: 0;

    @include opacity(1);
  }
}

@include keyframes(opening-hours-link-hide) {
  0% {
    @include opacity(1);
  }

  50% {
    right: 0;

    @include opacity(1);
  }

  100% {
    right: -50em;

    @include opacity(0);
  }
}


// Booking submit button.
@include keyframes(open-submit) {
  0% {
    bottom: -7em;
  }

  50% {
    bottom: -7em;
  }

  100% {
    bottom: 0;
  }
}
