/**
 *
 * SVG icons
 *
 */

.icon--calendar {
  svg {
    height: 1.4em;
    margin-right: .5em;
    vertical-align: top;
    width: 1.2em;
  }

  &.is-gray svg {
    fill: $gray-dark;
  }
}

.icon--wayfinding {
  svg {
    height: 1.4em;
    margin-right: .5em;
    vertical-align: top;
    width: .9em;
  }

  &.is-gray svg {
    fill: $gray-dark;
  }
}

.icon--clock {
  svg {
    margin-right: .5em;
    height: 1.4em;
    vertical-align: top;
    width: 1.2em;
  }

  &.is-gray svg {
    fill: $gray-dark;
  }
}