/**
 *
 * Patterns used across the site.
 *
 */


/* Styles
================================================================================================================== */

// Center element.
%auto-margins {
  margin-right: auto;
  margin-left: auto;
}


// Position image in center regardless of wrapper width. Even if image is larger than wrapper.
// http://stackoverflow.com/questions/14562457/center-oversized-image-in-div
%top-image-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1000px;
  right: -1000px;
  margin: auto;
}


// Blackish overlay.
%gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 5;

  @include background-image(linear-gradient(transparent, transparentize($black, .5)));
}


/* Header with line through. */

%header-line-through-wrapper {
  height: 3em;
  position: relative;
  text-align: center;
}

%header-line-through-text {
  background: $white;
  display: inline-block;
  text-align: center;
  padding: 0 1em;
}

%header-line-through {
  border-bottom: 1px solid $gray-lighter;
  margin-top: -1.2em;
}

/* Teaser display */
// Placeholders for displaying teasers with an image. Used by frontpage activities list and subpages lists on overview pages.

%teaser-item {
  // Switch to side by side activities.
  @include breakpoint(40em) {
    border-bottom: 1px solid $gray-lightest;
    border-right: 1px solid $gray-lightest;
    box-sizing: border-box;
    display: block;
    line-height: 0;
    padding: .9em;
    width: 50%;

    &:nth-child(odd){
      border-left: 1px solid $gray-lightest;
      float:left;
    }

    &:nth-child(even){
      float:right;
    }
  }
}

// Max width on image to center title text.
%teaser-image-wrapper {
  display: block;
  max-width: 540px;  // Max image size.
  margin: 0 auto;
  position: relative;

  img {
    width: 100%;
  }

  @include strip-link-styles($white);
}

// Position title text centered from bottom.
%teaser-title {
  bottom: 10%;
  font-size: 1.7em;
  left: 0;
  margin: 0;
  right: 0;
  position: absolute;
  text-align: center;
  z-index: 6;

  a {
    @include strip-link-styles($white);
  }
}

// Position content centered below image (Same width)
%teaser-content {
  box-sizing: border-box;
  color: $gray-darker;
  font-size: .9em;
  position: relative;
  text-align: center;
  max-width: 540px; // Max image size.
  padding: 1em;
  margin: 0 auto 2em;

  @include breakpoint(40em){
    margin: 0 auto;
    padding: 0 1em 1em;
  }
}

// Height on lead wrapper to maintain exact height of activity block.
%teaser-lead {
  line-height: 1.2em;

  @include breakpoint(40em){
    height: 7em;
  }
}

// Center position text regardless of characters.
%teaser-lead-inner {
  @include breakpoint(40em){
    position: relative;
    top: 50%;

    @include transform(translateY(-50%));
  }
}

// White arrow displayed on images.
%teaser-arrow-wrapper {
  height: 20px;
  width: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  right: 0;
  text-align: center;
  z-index: 6;
}

%teaser-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid $white;
}
