/**
 *
 * Theme variables
 *
 *
 */



/* Colors
   ================================================================================================================== */

$gray-lightest:    lighten($black, 95%);
$gray-lighter:     lighten($black, 90%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 12%);

$zebra-gray:       #F6F6F6; // Alternating gray background
$blackish:         lighten($black, 8%);; // Site menu (Burger!)
$blue-dark:        #003764; // Main menu
$blue-light:       #1e528a; // Booking form radios and submit.
$yellow:           #FFC000; // Expanded site menu
$yellow-light:     #FBD87C; // Booking calendar
$red:              #E44300; // Buttons
$red-light:        #EEC9BA; // Booking calendar
$green-light:      #CCE2BA; // Booking calendar

/* Typograhy (All font-families referenced should be defined in theme/_fonts.scss)
   ================================================================================================================== */

$font-family:      'Gibson Regular', Helvetica, Arial, sans-serif !default;
$font-light-family: 'Gibson Light', Helvetica, Arial, sans-serif !default;
$font-bold-family: 'Gibson SemiBold', Helvetica, Arial, sans-serif !default;
$font:             1em/1.5 'Gibson Regular', sans-serif;



/* Link colors
   ================================================================================================================== */

$link-color:        #003466;
$link-footer-color: #FFBA00;


/* Other
   ================================================================================================================== */
$inline-margin-correction: -4px;
$padding-footer: 8em;
