{#
/**
 * @file
 * Display of share button
 *
 * Available variables:
 * - node_id
 * - node_title
 */
#}
{{ node_title|striptags }}

<div class="fields--facebook">
  <a href="http://www.facebook.com/sharer/sharer.php?u=/node/{{ node_id }}&title={{ node_title | striptags }} target="_blank">
    {% include 'sites/all/themes/itkore/templates/images/facebook-image.html.twig' %}
  </a>
</div>