<section class="instagram-gallery">
  <header>
    <h3 class="instagram-gallery--title">
      <a href="https://instagram.com/explore/tags/{{ instagram_hashtag }}">#{{ instagram_hashtag }}</a>
    </h3>
  </header>
  <div class="instagram-gallery--wrapper" id="instafeed--{{ instagram_hashtag }}"></div>
</section>