/**
 *
 * Content.
 *
 */


&.is-page .content {
  &--inner {
    position: relative;
    z-index: z($z-index-elements, content);

    margin-top: -7em;
    padding-top: 3em;

    background-color: rgba(255, 255, 255, 1);

    @include breakpoint($breakpoint-tablet) {
      margin-top: -8em;
      padding-top: 3.5em;
    }

    @include breakpoint($breakpoint-desk) {
      margin-top: -21em;
      padding-top: 3em;
    }

    @include breakpoint($breakpoint-bigscreen) {
      padding-right: $layout-padding;
      padding-left: $layout-padding;
      padding-top: 5em;
    }
  }
}

.content {
  &--inner {
    margin-right: auto;
    margin-bottom: 3em;
    margin-left: auto;
    max-width: $breakpoint-desk;
    min-height: 20em;

    @include word-wrap;

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 3em;
    }

    &.is-front {
      max-width: 100%;
      margin-bottom: 0;
      min-height: 30em;
      padding: 2em 0;

      @include word-wrap;

      &:last-child {
        background: $gray-lightest;
      }
    }
  }

  p + h3,
  p + p {
    margin-top: 2em;
  }

  // Needs nesting inside content for overriding p+p.
  &--inline-link {
    margin-top: 1em;
  }

  &--header,
  &--lead,
  &--meta,
  &--text {
    margin-right: $layout-padding;
    margin-left: $layout-padding;

    @include breakpoint($breakpoint-bigscreen) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  h3,
  h4,
  &--header,
  &--lead {
    font-weight: 600;
  }

  &--header,
  &--meta,
  &--lead {
    text-align: center;
  }

  &--header {
    margin-top: .5em;
    margin-right: 0;
    margin-left: -.075em; // Compensate for font whitespace

    color: $gray-darker;
    font-size: 2.5em;
  }

  &--meta {
    margin-top: -.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;

    font-weight: 300;
  }

  &--image-wrapper {
    position: relative;

    margin-bottom: 2.5em;

    @include breakpoint($breakpoint-desk) {
      overflow: hidden;

      height: 500px;
    }

    @include breakpoint($breakpoint-bigscreen) {
      img {
        margin-top: -225px;
      }
    }

    &:before {
      @extend %image-overlay;
    }
  }

  &--lead {
    font-size: 1.25em;
    margin-bottom: 1em;

    @include breakpoint($breakpoint-tablet) {
      margin-right: 3em;
      margin-left: 3em;
    }

    @include breakpoint($breakpoint-desk) {
      font-size: 1.5em;
    }
  }

  &--text + fieldset {
    margin-top: 3em;
  }

  fieldset {
    margin-right: $layout-padding;
    margin-left: $layout-padding;

    @include breakpoint($breakpoint-desk) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
