/**
 *
 * Event list
 *
 */

.event-list {
  &--header {
    padding-left: $layout-padding;
    padding-right: $layout-padding;
  }

  padding-left: $layout-padding;
  padding-right: $layout-padding;

  &--event {
    margin-bottom: 1em;

    h1 {
      font-size: 1.2em;
    }
  }

  &--occurrences {
    margin: .5em 0;
  }

  &--footer {
    text-align: center;
  }
}