/**
 *
 * Footer
 *
 */

.footer {
  align-self: flex-end;
  background-color: $black;
  flex: 1 0 auto;
  flex-direction: row;
  width: 100%;

  &--content {
    color: $white;
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-desk;
    padding-left: $layout-padding;
    padding-right: $layout-padding;
    padding-top: $layout-padding;

    ul,
    ol {
      list-style: none;
      padding: 0;
    }
  }

  &--left,
  &--right {
    flex: 0 0 100%;
    padding-bottom: $layout-padding;
  }

  &--left {
    @include breakpoint($breakpoint-tablet) {
      flex: 1 1 auto;
    }
  }

  &--right {
    align-items: center;
    display: flex;
    justify-content: space-around;

    @include breakpoint($breakpoint-tablet) {
      flex: 0 0 25%;
      justify-content: flex-end;
      padding-bottom: 0;
      text-align: right;
    }
  }

  &--icons {
    width: 1.8em;

    @include breakpoint($breakpoint-tablet) {
      margin-left: 1.2em;;
    }
  }
}