/**
 *
 * Footer
 *
 */

$top-and-button-margin: 2em;
$left-and-right-padding: $layout-padding;

.footer {
  background-color: $black;
  bottom: 0;
  color: $gray-lightest;
  position: absolute;
  width: 100%;

  &--content {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: $breakpoint-desk;
    padding-left: $left-and-right-padding;
    padding-right: $left-and-right-padding;
    padding-top: $top-and-button-margin;
  }

  &--mail {
    flex-basis: 100%;
    margin-bottom: $top-and-button-margin;
    text-align: center;

    a {
      color: $white;
    }
  }

  &--social {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    margin-bottom: $top-and-button-margin;
  }

  &--icons {
    margin-left: $left-and-right-padding;
    width: 1.8em;
  }

  &--aarhus {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    margin-bottom: $top-and-button-margin;
  }

  &--logo {
    width: 8em;
  }

  @include breakpoint($breakpoint-tablet) {
    &--mail {
      flex-basis: 50%;
      order: 2;
      text-align: left;
    }

    &--social,
    &--icons {
      flex-basis: 25%;
    }

    &--social {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      order: 3;
    }

    &--aarhus {
      flex-basis: 25%;
      justify-content: flex-start;
      order: 1;
    }
  }

  @include breakpoint($breakpoint-desk) {
    &--mail {
      align-self: center;
      flex-basis: 50%;
      order: 2;
      text-align: center;
    }

    &--social {
      order: 3;
    }

    &--aarhus {
      flex-basis: 25%;
      justify-content: flex-start;
      margin-top: 0;
      order: 1;
    }
  }
}
