/**
 *
 * Logo.
 *
 */


// Logo styling.
// This handles the default logo behaviour whether it is sticky or not.

.logo,
.logo.is-sticky,
.is-frontpage .logo.is-sticky {
  @include strip-link-styles($white);

  background-repeat: no-repeat;
  height: 3em;
  left: $layout-padding;
  max-width: 75%;
  overflow: hidden;
  position: absolute;
  top: 1.3em;
  width: auto;
  z-index: z($z-index-elements, logo);

  @include breakpoint($breakpoint-desk) {
    position: fixed;
  }

  // Supported image tags
  > img,
  > svg {
    height: 3em;
    width: auto;
  }

  // If text instead of image.
  &--text {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.4em;
  }
}