/**
 *
 * Navigation.
 *
 */


.is-frontpage {
  .nav {
    right: 0;

    background-color: transparent;
  }

  .nav,
  .nav.is-sticky {
    @include breakpoint($breakpoint-desk) {
      &--links {
        a {
          @include strip-link-styles($white, none);
        }
      }

      .nav--link {

        &:hover {
          background-color: $theme-color;
        }
      }
    }
  }

  .nav-toggle span {
    background: $white;
  }
}

.nav,
.nav.is-sticky,
.is-frontpage .nav.is-sticky {
  top: 0;
  position: absolute;
  z-index: z($z-index-elements, nav);

  height: 5.5em;
  width: 100%;

  transition: top .35s, right .35s, padding .35s;

  @include breakpoint($breakpoint-desk) {
    background-color: rgba(0,0,0, .75);

    position: fixed;
    top: 0;
    right: 0;

    @include flexbox;
    @include flex-direction(column);
  }

  &--links {
    display: none; // Hiding navigation on smaller screens

    @include breakpoint($breakpoint-desk) {
      margin-right: 6em;

      font-weight: 300;
      text-align: right;

      @include flexbox;
      @include flex-grow(1);
      @include align-items(center);
      @include flex-direction(row);
      @include justify-content(flex-end);

      a {
        @include strip-link-styles($white, none);
      }
    }
  }

  // Drupals markup dictates that .nav--link has to be inside .nav
  .nav--link {
    @include breakpoint($breakpoint-desk) {
      padding-right: 1.2em;
      padding-left: 1.2em;

      color: $white;
      font-size: 1.2em;
      text-decoration: none;

      transition: top .35s, right .35s, border 1s, padding .35s, background-color .25s;

      @include flexbox;
      @include align-items(center);
      @include align-self(stretch);

      &.is-active,
      &.is-active:hover {

        background-color: $theme-color;

        @include strip-link-styles($white, none);
      }

      &:hover {
        background-color: rgb(112, 112, 112);

        @include strip-link-styles($white, none);
      }
    }
  }
}

// hamburger menu toggle-effect

.nav-toggle {
  position: absolute;
  top: 1.6em;
  right: 2em;
  z-index: z($z-index-elements, nav-toggle);

  height: 36px;
  width: 40px;

  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;

  @include breakpoint($breakpoint-desk) {
    position: fixed;
  }

  span {
    position: absolute;
    left: 0;

    display: block;
    height: 5px;
    width: 100%;

    background: $white;
    opacity: 1;

    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  &.is-open {
    span {
      background: $black;
    }
  }
}

.nav-toggle span:nth-child(1) {
  top: 0px;
}

.nav-toggle span:nth-child(2),
.nav-toggle span:nth-child(3) {
  top: 15px;
}

.nav-toggle span:nth-child(4) {
  top: 30px;
}

.nav-toggle.is-open span:nth-child(1) {
  top: 15px;
  left: 50%;

  width: 0%;
}

.nav-toggle.is-open span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav-toggle.is-open span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.nav-toggle.is-open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}
