/**
 *
 * Fields
 *
 * All fields displayed on nodes and users.
 */

/* Variables related to this document.
================================================================================================================== */

// Set widths
$image-width-lap: 22.5%;
$image-gutter-lap: 2.5%;

$image-width-desk: 33%;
$image-gutter-desk: 2.5%;

$paragraph-margin-top: 3.5em;

$internal-link-image-width: 112px;


/* Styles
================================================================================================================== */

.paragraphs--internal-link + .paragraphs--internal-link {
  margin-top: $paragraph-margin-top / 1.25;
}

.paragraphs {
  &--wrapper {
    margin-left: 1.8em;
    margin-right: 1.8em;
  }

  &--text-left,
  &--internal-link,
  &--title-paragraph,
  &--youtube,
  &--iframe,
  &--title-only {
    margin-bottom: $paragraph-margin-top;
    margin-top: $paragraph-margin-top;
  }

  // Paragraph Title
  &--title {
    font-weight: bold;
    margin-bottom: .5em;
  }

  // Text Left
  &--text-inner{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &--text-left {

    figure {
      flex-basis: 5em;
      flex-grow: 1;

      margin-left: 1em;
      margin-top: .25em;
      min-width: 5em;

      order: 2;

      @include breakpoint($breakpoint-lap) {
        flex-basis: $image-width-lap;
        max-width: $image-width-lap;
        min-width: $image-width-lap;
      }

      @include breakpoint($breakpoint-desk) {
        flex-basis: $image-width-desk;
        max-width: $image-width-desk;
        min-width: $image-width-desk;
      }
    }
  }

  &--text-left-wrapper {
    flex-shrink: 1;
    order: 1;

    .paragraphs--text > p:last-child {
      margin-bottom: 0;
    }
  }


  // Internal Link

  &--internal-link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .figure {
      flex-basis: 5em;
      flex-grow: 0;

      margin-right: 1em;
      max-width: $internal-link-image-width / 2;
      min-width: $internal-link-image-width / 2;

      order: 1;

      @include breakpoint($breakpoint-lap) {
        max-width: $internal-link-image-width;
        min-width: $internal-link-image-width;
      }
    }

    a:first-child {
      @include strip-link-styles();
    }

    .paragraphs--text > p:last-child {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: $paragraph-margin-top;
    }
  }

  &--internal-link-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
  }

  // Title only
  &--title-only {
    font-size: 1.25em;
    margin-bottom: -1.25em;
  }
}
