<article class="itkcore-resource">

  {% if label %}
    <h1>{{ label }}</h1>
  {% endif %}

  {{ content.body }}

  <figure>{{ content.field_itkore_image }}</figure>

</article> <!-- /article #node -->