/* IE9 specific
   ================================================================================================================== */

/* Alternative to css animations. */

/* Hamburger menu */
.menus--burger.is-visible {
    left: 0;
    opacity: 1;
}

.menus--burger.is-hidden {
    left: -24em;
    opacity: 0.85;
}

.js-opening-hours-link.is-hidden {
    display: none;
    opacity: 0;
}


.js-opening-hours-link.is-visible {
    display: block;
    opacity: 1;
    z-index: 50;
}

.js-opening-hours-link figure {
    height: 2em;
    float: left;
}


/* Flexbox fixing */
.itk-boxlist--group,
.frontpage--box-list {
    overflow: hidden;
}

.frontpage--more-link {
    clear: both;
}

.itk-boxlist--item {
    float: left;
}

.itk-boxlist--date,
.itk-boxlist--time,
.itk-boxlist--location {
    display: block;
    float: left;
}

.itk-boxlist--group .itk-boxlist--item {
    width: 100%;
}

.itk-boxlist--item header {
    box-sizing: border-box;
    float: left;
    max-width: 55%;
}


.itk-boxlist--item figure {
    box-sizing: border-box;
    float: right;
    max-width: 35%;
}


/* Footer display */
.footer--social,
.footer--opening-hours,
.footer--contact {
    display: inline-block;
    width: 32%;
}


/* Booking */
.booking--selection-date-time-wrapper {
    overflow: hidden;
}

.booking--selection-date-picker,
.booking--selection-time-picker,
.booking--selection-resource-picker {
    float: left;
}


/* Instagram gallery */

.instagram-gallery figure {
  float: left;

  margin-right: 2em;
  width: 30%;
}