<!DOCTYPE html>
  <head>
    <title>Itk tabs rounded Corners examples.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="example.css">
  </head>
  <body>
    <div style="margin:0 auto;max-width: 1000px;">
      <h1>
        Tabs rounded Corners examples
      </h1>
      <div>
        <strong> On small devices developers should change the text to an icon. This is not handled by this component. The breakpoint to switch to icon will wary depending on the length of the tab text.</strong>
      </div>
      <p></p>
      <div style="margin-bottom: 20px;">
        <h2>2 tabs</h2>
        <!-- Example start. -->
        <div class="example--tabs-one">
          <a href="#" class="example--tabs-one-item is-active">Text one</a>
          <a href="#" class="example--tabs-one-item">Text two</a>
        </div>
        <!-- Example end. -->
      </div>
      <div style="margin-bottom: 20px;">
        <h2>3 tabs</h2>
        <!-- Example start. -->
        <div class="example--tabs-two">
          <a href="#" class="example--tabs-two-item">Text one</a>
          <a href="#" class="example--tabs-two-item is-active">Text two</a>
          <a href="#" class="example--tabs-two-item">Text three</a>
        </div>
        <!-- Example end. -->
      </div>
      <div style="margin-bottom: 20px;">
        <h2>4 tabs</h2>
        <!-- Example start. -->
        <div class="example--tabs-three">
          <a href="#" class="example--tabs-three-item">Text one</a>
          <a href="#" class="example--tabs-three-item is-active">Text two</a>
          <a href="#" class="example--tabs-three-item">Text three</a>
          <a href="#" class="example--tabs-three-item">Text four</a>
        </div>
        <!-- Example end. -->
      </div>

      <h2>Full width tabs</h2>
      <strong> Max tab count supported: 4. Using full width we must define for each tab the number of items to show. </strong>

      <div style="margin-bottom: 20px;">
        <h2>2 tabs</h2>
        <!-- Example start. -->
        <div class="example--tabs-four is-full-width" itk--tabs-count="2">
          <a href="#" class="example--tabs-four-item is-active">Text one</a>
          <a href="#" class="example--tabs-four-item">Text two</a>
        </div>
        <!-- Example end. -->
      </div>
      <div style="margin-bottom: 20px;">
        <h2>3 tabs</h2>
        <!-- Example start. -->
        <div class="example--tabs-five is-full-width" itk--tabs-count="3">
          <a href="#" class="example--tabs-five-item">Text one</a>
          <a href="#" class="example--tabs-five-item is-active">Text two</a>
          <a href="#" class="example--tabs-five-item">Text three</a>
        </div>
        <!-- Example end. -->
      </div>
      <div style="margin-bottom: 20px;">
        <h2>4 tabs</h2>
        <!-- Example start. -->
        <div class="example--tabs-six is-full-width" itk--tabs-count="4">
          <a href="#" class="example--tabs-six-item">Text one</a>
          <a href="#" class="example--tabs-six-item is-active">Text two</a>
          <a href="#" class="example--tabs-six-item">Text three</a>
          <a href="#" class="example--tabs-six-item">Text four</a>
        </div>
        <!-- Example end. -->
      </div>
    </div>
  <body>
</html>



